<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<meta charset="UTF-8">
<title>Cadastro</title>

<!-- MATERIALIZE -->
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

 <!-- Adicionando JQuery -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
            crossorigin="anonymous"></script>

<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- Para rodar Calendar Data em todos os navegadores -->
<script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
<link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />

<style type="text/css">

/*Fiz a Inspeção (F12) e modifiquei a cor de fundo e a cor da fonte do paragráfo. */
p {
	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	background-color: #2bbbad;
	color: white;
	padding-left: 30%
}

/* Modificando a cor para branco os botões (salvar e buscar) 'input'que tenha um tipo submit */
form input[type=submit] {
	color: white;
}

</style>
</head>
<body>

	<h3>Formulário de Cadastro de Pessoas</h3>

	<br />
	<div th:each="m : ${msg}">
		<i class="material-icons prefix" style="color: red; padding: 5px;">report_problem</i>
		<span th:text=${m}></span>
	</div>
	<br />

<fieldset>
<legend>Cadastro de Pessoa</legend>
	<div class="row">
		<form action="salvarpessoa" id="formpessoa" method="post"
			th:object="${pessoaobj}" class="col s12" enctype="multipart/form-data">

			<div class="row">
				<div class="input-field col s6">
					<i class="material-icons prefix">account_circle</i>
					<label for="campo_id">Id</label> 
					<input id="campo_id" type="text" class="validate" name="id" th:field="*{id}" readonly="readonly"> 
				</div>

				<div class="input-field col s6">
					<i class="material-icons prefix">account_circle</i>
					<label for="campo_nome">Nome</label> 
					<input placeholder="Entre com seu nome" id="campo_nome" type="text" class="validate" name="nome" th:field="*{nome}"> 
				</div>

				<div class="input-field col s6">
					<i class="material-icons prefix">account_circle</i>
					<label for="campo_sobrenome">Sobrenome</label> 
					<input placeholder="Entre com seu sobrenome" id="campo_sobrenome" type="text" class="validate" name="sobrenome" th:field="*{sobrenome}"> 
				</div>


				<!--OBS. Para definir acesso para vários papéis é usado a propriedade 'hasAnyRole', exemplificando:
                   div class="input-field col s6" sec:authorize="hasAnyRole('ROLE_USER', 'ROLE_GERENTE')" -->

				<div class="input-field col s6"
					sec:authorize="hasRole('ROLE_ADMIN')">
					<i class="material-icons prefix">account_circle</i>
					<label for="campo_idade">Idade</label> 
					<input placeholder="Entre com sua idade" id="campo_idade" type="number" class="validate" name="idade" th:field="*{idade}"> 
				</div>
				
				<div class="input-field col s6" id="divProfissao">
					<label for="profissao" class="active">Profissao</label>
					<select id="profissao" class="browser-default" th:field="*{profissaopessoa}">
						<option th:each = "p: ${profissoes}" th:value="${p.id}" th:text="${p.nome}">
					</select>
				</div>
				
				<div class="input-field col s6" id="divCargo">
					<label for="cargo" class="active">Cargo</label>
					<select id="cargo" class="browser-default" th:field="*{cargo}">
						<option th:each = "c: ${T(projeto.springboot.model.Cargo).values()}" th:value="${c.valor}" th:text="${c.nome}">
					</select>
				</div>
				
				<div class="input-field col s6" id="divDataNascimento">
					<i class="material-icons prefix">account_circle</i>
					<label for="dataNascimento" class="active">Data Nascimento</label>
					<input type="date" id="dataNascimento" th:field="*{dataNascimento}" name="dataNascimento" placeholder="Data Nascimento">
				</div>
			
			   <div class="input-field col s6" id="divSexo">
					<label for="sexopessoa" class="active">Sexo</label>
					<select class="browser-default" th:field="*{sexopessoa}">
						<option value="" disabled selected>--[Selecione]--</option>
						<option value="MASCULINO" th:text="Masculino"></option>
						<option value="FEMININO" th:text="Feminino"></option>
					</select>
				</div>
			</div>
			
			
			<div class="row"> 
				<div class="file-field input-field col s6">
      				<div class="btn">
	        			<span>Upload</span>
	        			<input type="file" id="file" name="file">
      				</div>
      				<div class="file-path-wrapper">
        				<input class="file-path validate" type="text" placeholder="Upload Currículo">
      				</div>
    			</div>
			</div>
				 
				 
			<div class="row"> 
				<div class="input-field col s6">
						<i class="material-icons prefix">contacts</i>
						<label for="cep">CEP</label> 
						<input placeholder="Entre com seu CEP" id="cep" type="text" class="validate" name="cep" th:field="*{cep}"> 
				</div>
				
				<div class="input-field col s6">
						<i class="material-icons prefix">contacts</i>
						<label for="rua">Rua</label> 
						<input id="rua" type="text" class="validate" name="rua" th:field="*{rua}"> 
				</div>
				
				<div class="input-field col s6">
					<i class="material-icons prefix">contacts</i>
					<label for="bairro">Bairro</label> 
					<input id="bairro" type="text" class="validate" name="bairro" th:field="*{bairro}"> 
				</div>
				
				<div class="input-field col s6">
					<i class="material-icons prefix">contacts</i>
					<label for="cidade">Cidade</label> 
					<input id="cidade" type="text" class="validate" name="cidade" th:field="*{cidade}"> 
				</div>
				
				<div class="input-field col s6">
					<i class="material-icons prefix">contacts</i>
					<label for="uf">UF</label> 
					<input id="uf" type="text" class="validate" name="uf" th:field="*{uf}"> 
				</div>
				
				<div class="input-field col s6">
					<i class="material-icons prefix">contacts</i>
					<label for="ibge">IBGE</label> 
					<input id="ibge" type="text" class="validate" name="ibge" th:field="*{ibge}"> 
				</div>
				
			</div>

			<div class="row">
				<div class="input-field col s6">
					<input class="waves-effect waves-light btn" type="submit"
						value="Salvar">

					<button class="waves-effect waves-light btn"
						onclick="document.getElementById('formpessoa').reset();">Novo</button>
				</div>
			</div>

		</form>
	</div>
</fieldset>

<br />
<br />

<fieldset>
<legend>Campo de Pesquisa</legend>
	<div class="row">
		<form action="pesquisarpessoa" id="pesquisarpessoa" method="post" class="col s12">
			<div class="row">
				<div class="input-field col s6">
					<label for="campopesquisa" class="active">Pesquisar por nome:</label> 
					<input placeholder="Digite um nome" name="nomepesquisa" id="campopesquisa" class="validate"> 
				</div>
				
				<div class="input-field col s6">
					<label for="sexopesquisa" class="active">Pesquisar por sexo:</label>
					<select class="browser-default" name="sexopesquisa" id="sexopesquisa">
						<option value="">--[Todos]--</option>
						<option value="MASCULINO" th:text="Masculino"></option>
						<option value="FEMININO" th:text="Feminino"></option>
					</select>
				</div>	
				
				<div class="input-field col s12">	
					<input type="submit" value="PDF" onclick="document.getElementById('pesquisarpessoa').method = 'get'" class="waves-effect waves-light btn">
					<input type="submit" value="Buscar" onclick="document.getElementById('pesquisarpessoa').method = 'post'" class="waves-effect waves-light btn"> 
					<a href="/listapessoas" class="waves-effect waves-light btn">Carregar Lista Pessoas</a>
				</div>
			</div>
		</form>
	</div>
</fieldset>

<br />
<br />

<fieldset>
<legend>Tabela de Registro</legend>
	<div class="row">
		<table class="striped">
			<thead>
				<tr>
					<th>Id</th>
					<th>Nome</th>
					<th>Sobrenome</th>
					<th>Idade</th>
					<th>Profissao</th>
					<th>Download Currículo</th>
					<th>Editar</th>
					<th>Excluir</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="pessoa : ${pessoas}">
					<td th:text=${pessoa.id}></td>
					<td><a
						th:href="@{/telefones/{idpessoa}(idpessoa=${pessoa.id})}"><span
							th:text=${pessoa.nome}></span></a></td>
					<td th:text=${pessoa.sobrenome}></td>
					<td th:text=${pessoa.idade}></td>
					<td th:if="${pessoa.profissaopessoa != null}" th:text="${pessoa.profissaopessoa.nome}"></td>
					<td th:unless="${pessoa.profissaopessoa != null}">Profissão não especificada</td>
					<td><a th:if="${pessoa.curriculo != null}"
						th:href="@{/baixarcurriculo/{idpessoa}(idpessoa=${pessoa.id})}"
						class="waves-effect waves-light btn">Download</a></td>
					<td><a
						th:href="@{/editarpessoa/{idpessoa}(idpessoa=${pessoa.id})}"
						class="waves-effect waves-light btn">Editar</a></td>
					<td><a
						th:href="@{/removerpessoa/{idpessoa}(idpessoa=${pessoa.id})}"
						class="waves-effect waves-light btn">Excluir</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</fieldset>

	<br />
	<p>Aprendizado: Spring Boot MVC + Thymeleaf + JPA + Banco de dados Postgresql</p>
	
<!-- Adicionando Javascript para o CEP - Link: https://viacep.com.br/exemplo/jquery/ -->
    <script>

   
        $(document).ready(function() {
        	
        	// Permite um formato de data mais amigável para todos os navegadores
        	$('#dataNascimento').datepicker({
        		showOthermonths:true,
        		format: 'yyyy-mm-dd'
        	});

            function limpa_formulário_cep() {
                // Limpa valores do formulário de cep.
                $("#rua").val("");
                $("#bairro").val("");
                $("#cidade").val("");
                $("#uf").val("");
                $("#ibge").val("");
            }
            
            //Quando o campo cep perde o foco.
            $("#cep").blur(function() {

                //Nova variável "cep" somente com dígitos.
                var cep = $(this).val().replace(/\D/g, '');

                //Verifica se campo cep possui valor informado.
                if (cep != "") {

                    //Expressão regular para validar o CEP.
                    var validacep = /^[0-9]{8}$/;

                    //Valida o formato do CEP.
                    if(validacep.test(cep)) {

                        //Preenche os campos com "..." enquanto consulta webservice.
                        $("#rua").val("...");
                        $("#bairro").val("...");
                        $("#cidade").val("...");
                        $("#uf").val("...");
                        $("#ibge").val("...");

                        //Consulta o webservice viacep.com.br/
                        $.getJSON("https://viacep.com.br/ws/"+ cep +"/json/?callback=?", function(dados) {

                            if (!("erro" in dados)) {
                                //Atualiza os campos com os valores da consulta.
                                $("#rua").val(dados.logradouro);
                                $("#bairro").val(dados.bairro);
                                $("#cidade").val(dados.localidade);
                                $("#uf").val(dados.uf);
                                $("#ibge").val(dados.ibge);
                            } //end if.
                            else {
                                //CEP pesquisado não foi encontrado.
                                limpa_formulário_cep();
                                alert("CEP não encontrado.");
                            }
                        });
                    } //end if.
                    else {
                        //cep é inválido.
                        limpa_formulário_cep();
                        alert("Formato de CEP inválido.");
                    }
                } //end if.
                else {
                    //cep sem valor, limpa formulário.
                    limpa_formulário_cep();
                }
            });
        });

    </script>


<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>