<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="/materialize/css/materialize.css"  media="screen,projection"/>
<link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css"  media="screen,projection"/>
<head>
<meta charset="UTF-8">
<title>Cadastro</title>

<style type="text/css">

 /*Fiz a Inspeção (F12) e modifiquei a cor de fundo e a cor da fonte do paragráfo. */
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    background-color: #2bbbad;
    color:white;
}

/* Modificando a cor para branco os botões (salvar e buscar) 'input'que tenha um tipo submit */
form input[type=submit]{
color:white;
}

</style>
</head>
<body>

<br />
   <div th:each="m : ${msg}">
    <i class="material-icons prefix" style="color:red; padding:5px;">report_problem</i>
   	<span th:text = ${m}></span>
   </div>
<br />
    
    <h3>Dados Pessoal</h3>
    
    <div th:each="p : ${pessoaobj}">
    	<div class="row">
    		<p>ID: <scan th:text="${p.id}"></scan></p>
    		<p>Nome: <scan th:text="${p.nome}"></scan></p>
    		<p>Sobrenome: <scan th:text="${p.sobrenome}"></scan></p>
    		<p>Idade: <scan th:text="${p.idade}"></scan></p>
    	</div>
    </div>
    
    <h3>Cadastro de Telefone</h3>
    
    <div class="row">
	    <form th:action="@{/addfonepessoa/{pessoaid}(pessoaid=${pessoaobj.id})}" method="post" class="col s12" 
	    onsubmit="return validarCampos()? true : false">
	    	<div class="row">
	    		<div class="input-field col s6">
	    		    <i class="material-icons prefix">phone</i>
	    			<label class="active" for="camponumero">Número:</label>
	    			<input id="camponumero" name="numero" class="validate">
	    		</div>
	    		
	    		<div class="input-field col s6">
	    			<label class="active" for="campotipo">Tipo:</label>
	    			<input id="campotipo" name="tipo" class="validate">
	    		</div>
	    		
	    		<input type="submit" value="Adicionar" class="waves-effect waves-light btn">
	    		
	    		<a href="/cadastropessoa" class="waves-effect waves-light btn">Acessar Cadastro</a>
	    	</div>
	    </form>
    </div>
    
    <table class="striped">
    	<thead>
	          <tr>
	              <th>Número</th>
	              <th>Tipo</th>
	               <th>Excluir</th>
	          </tr>
	   </thead>
	   <tbody>
	    	<tr th:each="fone : ${telefones}">
		    	<td th:text="${fone.numero}"></td>
		    	<td th:text="${fone.tipo}"></td>
		    	<td><a th:href="@{/removertelefone/{idtelefone}(idtelefone=${fone.id})}" class="waves-effect waves-light btn">Excluir</a></td>
	    	</tr>
    	</tbody>
    </table>
    
 <!--JavaScript at end of body for optimized loading-->
<script type="text/javascript" src="/materialize/js/materialize.js"></script>
<script type="text/javascript" src="/materialize/js/materialize.min.js"></script>

<script type="text/javascript">
	function validarCampos(){
		numero = document.getElementById('camponumero').value;
		tipo = document.getElementById('campotipo').value;
		
		if(numero === ''){
			alert("Informe o número de telefone!");
			return false;
			
		}else if(tipo === ''){
			alert("Informe o tipo de telefone!");
			return false;
		}
		
		return true;
	}
</script>

</body>
</html>